@using AppWithRoles.Models.Enum

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p></p>
    @{
        if (@Model == UserRole.Group1)
        {
            <p>Hello @Model</p>
        }
        if (@Model == UserRole.Group2)
        {
            <p>Hi @Model</p>
        }
    }
</div>
